@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@keyframes openSourceSlider {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(-50%);

    }

}

.opensource-slider {
    display: flex;
    align-items: center;
    gap:18px;
    width: max-content;
    animation: openSourceSlider 20s linear infinite;
    will-change:transform;
}

.opensource-slider:hover {

    animation-play-state: paused;

}

.opensource-card {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 88px;
    height: 88px;

    flex-shrink: 0;

    border-radius: 26px;

    transition:25s ease;

}

.opensource-card svg{

    width:42px;
    height:42px;

}

.opensource-card:hover{

    transform:scale(1.08);

}
